body {
    margin: 0;
    padding: 0;
}

/* styling for navigation bar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid black;
    font-family: "Rubik", 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #ffe9ec;
}

.navbar-items {
    display: flex;
    gap: 0 2em;
    list-style: none;
    margin: 0.5em 0;
    padding: 1em 0;
    justify-content: center;
    align-items: center;
}

.navbar-items li a {
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    color: #000;
}

.active-item {
    border-bottom: 2px solid black;
}

/* styling for index.html */
.about {
    background-color: pink;
    margin: 3em auto;
    padding: 1em 2em;
    border-radius: 25px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    max-width: 50%;
}

.about h1 {
    font-size: 3em;
    text-align: center;
    padding: 0;
    margin: 0.5em;
}

.about p,
.about ul {
    font-size: 1.2em;
    line-height: 1.7;
}

.about ul li {
    margin: 1em;
}

/* styling for bilder.html */
.picture-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
}

.picture-container img {
    width: 100%;
    height: auto;
}

/* media query for screens larger than 1600px */
@media (min-width: 1600px) {
    .about {
        max-width: 1000px;
    }
}

/* media query for screens smaller than 1000 px */
@media (max-width: 1000px) {

    .about {
        max-width: 65%;
    }

    .picture-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* media query for screens smaller than 600 px */
@media (max-width: 600px) {

    .navbar {
        flex-direction: column;
        margin: 0.5em 0;
        padding: 0.5em 0;
        border-bottom: 2px solid black;
    }

    .navbar-items {
        display: none;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    .navbar-items li a {
        display: inline-block;
        margin: 1em 1em 1em 2em;
    }

    .navbar-items li a:hover {
        border-bottom: 2px solid black;
    }

    .navbar-items.show {
        display: flex;
        border: 2px solid black;
        align-items: left;
    }

    .navbar.show {
        border-bottom: none;
    }


    /* hamburger icon */
    .hamburger-icon {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        margin: 0.5em 0 1em 0;
    }

    .hamburger-icon div {
        width: 25px;
        height: 3px;
        border-radius: 20%;
        background-color: #000000;
        transition: transform 0.3s;
    }

    /* turn hamburger icon into a cross when opened */
    .hamburger-icon.active div:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-icon.active div:nth-child(2) {
        opacity: 0;
    }

    .hamburger-icon.active div:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .active-item {
        border-bottom: none;
    }

    .about {
        max-width: 100%;
        width: 100%;
        border-radius: 0;
    }

    .about h1 {
        font-size: 2.4em;
    }

    .picture-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}