@keyframes moveGuy {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: 75%;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes spinGuy {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.guy-img-container {
    border: 2px solid red;
    display: flex;
    flex-direction: column;

    .guy-img {
        animation: moveGuy 10s ease-in-out infinite alternate;
        margin: 7em 0;
    }

    .guy-img-2 {
        animation: spinGuy 6s linear infinite;
        margin: 0 0 7em 0;
    }
}