@use "base";

/* placeholder button to use for future projects */
%btn {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    margin: 1em 2em;
    padding: 0.4em 2em;
    border-radius: 10px;
    border: 2px solid base.$light-theme-border;
    color: base.$light-theme-border;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
}

/* wavy border from https://css-generators.com/wavy-shapes/ */
%wavy-top-btm {
    --mask:
    radial-gradient(120.93px at 50% 165px,#000 99%,#0000 101%) calc(50% - 120px) 0/240px 51% repeat-x,
    radial-gradient(120.93px at 50% -105px,#0000 99%,#000 101%) 50% 60px/240px calc(51% - 60px) repeat-x,
    radial-gradient(120.93px at 50% calc(100% - 165px),#000 99%,#0000 101%) calc(50% - 120px) 100%/240px 51% repeat-x,
    radial-gradient(120.93px at 50% calc(100% + 105px),#0000 99%,#000 101%) 50% calc(100% - 60px)/240px calc(51% - 60px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}